<table class="reviews-table">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Semester</th>
      <th>Year</th>
      <th>Professor Name</th> 
      <th>Review</th>
    </tr>
  </thead>
  <tbody>
    {{#each s}}
    <tr>
      <td>{{courseNumber}}</td>
      <td>{{courseName}}</td>
      <td>{{semester}}</td>
      <td>{{year}}</td>
      <td>{{professor}}</td>
      <td>{{review}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
